---
const today = new Date();
---

<footer class="bg-stone-100 border-t border-stone-300 p-4 text-center text-stone-400 text-sm">
	&copy; {today.getFullYear()} A <a href="https://www.dandenney.com" class="hover:text-red-600">Dan Denney</a> project. All rights reserved.
</footer>
